body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:418px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u24_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:507px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u24 {
  position:absolute;
  left:104px;
  top:102px;
  width:314px;
  height:507px;
}
#u25 {
  position:absolute;
  left:2px;
  top:246px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u26 {
  position:absolute;
  left:140px;
  top:159px;
  width:43px;
  height:20px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:203px;
  top:159px;
  width:134px;
  height:20px;
}
#u28_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:140px;
  top:215px;
  width:29px;
  height:20px;
}
#u30 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u31 {
  position:absolute;
  left:203px;
  top:215px;
  width:134px;
  height:20px;
}
#u31_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u32_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u32 {
  position:absolute;
  left:140px;
  top:272px;
  width:57px;
  height:20px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u34 {
  position:absolute;
  left:203px;
  top:272px;
  width:134px;
  height:20px;
}
#u34_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u35 {
  position:absolute;
  left:140px;
  top:334px;
  width:29px;
  height:20px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:203px;
  top:334px;
  width:134px;
  height:20px;
}
#u37_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u38_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u38 {
  position:absolute;
  left:146px;
  top:434px;
  width:85px;
  height:37px;
}
#u39 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u40_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:37px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u40 {
  position:absolute;
  left:284px;
  top:434px;
  width:85px;
  height:37px;
}
#u41 {
  position:absolute;
  left:2px;
  top:10px;
  width:81px;
  word-wrap:break-word;
}
#u42_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u42 {
  position:absolute;
  left:140px;
  top:388px;
  width:43px;
  height:20px;
}
#u43 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u44 {
  position:absolute;
  left:203px;
  top:388px;
  width:134px;
  height:20px;
}
#u44_input {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:20px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u45_div {
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u45 {
  position:absolute;
  left:104px;
  top:102px;
  width:314px;
  height:33px;
}
#u46 {
  position:absolute;
  left:2px;
  top:8px;
  width:310px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47_div {
  position:absolute;
  left:0px;
  top:0px;
  width:31px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u47 {
  position:absolute;
  left:123px;
  top:110px;
  width:31px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u48 {
  position:absolute;
  left:2px;
  top:1px;
  width:27px;
  white-space:nowrap;
}
#u49_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u49 {
  position:absolute;
  left:198px;
  top:110px;
  width:127px;
  height:20px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
